.block#text
  .content
    .inner
      #helper-links
        = link_to("CSV Format", home_url({:format => "csv"}.merge(request.parameters)))
        = link_to("XML Format", home_url({:format => "xml"}.merge(request.parameters)))
      - if @year
        %h2= "Year #{@year}"
      %table
        %tr
          %th Date
          %th Description

        - @holidays.each do |hk_public_holiday|
          %tr
            %td= hk_public_holiday.date
            %td= hk_public_holiday.description
