!!!
%html
  %head
    %title Hong Kong Public Holidays
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/warehouse/style", "web-app-theme/override"
    = javascript_include_tag :defaults
    = csrf_meta_tag

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25533354-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container
      #header
        %h1
          %a{:href => "/"} Hong Kong Public Holidays
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        #user-navigation
          %ul.wat-cf
            / cache this year menu 
            - all_years.each do |year|
              %li
                = link_to year, home_url(:year => year)
            %li
              = link_to "All", home_url
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Data source: 
                =link_to "Hong Kong Gov Website", "http://www.gov.hk/en/about/abouthk/holiday/"
            .block
              %p
                This Web Application is Open Source. Source code available here:
                =link_to "Github", "http://github.com/3dd13"
        #sidebar
          = yield :sidebar
